*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
}
.body{
    display: flex;
    justify-content: space-between;
}
.content{
    margin-top: 5px;
    width: 850px;
    position: relative;
}