.wrapper{
    width: 850px;
    height: 100%;
}
.header{
    text-align: center;
    font-size: 30px;
}
.wrapper_users{
    width: 800px;
    margin: 0 auto;
}
.ava img{
    display: block;
    width: 100px;
    height: 100px;
    margin: 20px;

}
.preloader{
    border: 1px solid green;
}

.user{
    border: 3px solid grey;
    border-radius: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.btn{
    margin-left: 30px;
    margin-bottom: 10px;
    padding: 5px 20px;
    cursor: pointer;
    background-color: #42b340;
    color: #fff;
    border: none;
}
.descr{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    width: 800px;
}
.descr_name{
    font-size: 30px;
}

.descr_status{
    margin-top: 80px;
    font-size: 26px;
}
.location_country{
    text-transform: uppercase;
    margin-top: 40px;
    font-size: 30px;
}
.location_city{
    margin-top: 10px;
    font-size: 24px;
}
.pagination{
    text-align: center;
    margin: 10px;
}
.pagination span{
    cursor: pointer;
    margin: 10px;
}
.active{
    font-size: 30px;
    color: red;
}