.wrapper{
	width: 100%;
	height: 60px;
	background-color: #42b340;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
}

.log{
	display: flex;
}

.log button{
	margin-left: 40px;
	cursor: pointer;
}

.header_img{
	width: 105px;
}

.login{
	color: white;
	font-size: 50px;
	margin: 0;
}
.link{
	text-decoration: none;
	font-size: 30px;
	margin-top: 10px;
	color: white;
	margin-right: 30px;
}

.link:hover{
	text-decoration: underline;
}