.person{
    display: flex;
    margin-top: 20px;
}

.person_ava{
    width: 200px;
    height: 200px;
}

.person_descr{
    margin-left: 50px;
}
.person_descr p{
    margin-bottom: 30px;
    font-size: 20px;
}

.person_descr_name{
    margin-top: 0;
    color: #2b2827;
    font-size: 40px;
}

.person_descr_info{
    margin: 0;
    padding: 0;
    color: #2b2827 ;
}

.person_descr_info{
    color: #2b2827 ;
}