.wrapper{
	width: 880px;
}

.wrapper h1{
	text-align: center;
}

.dialogs{
	display: flex;	
	justify-content: space-between;
}

.dialogs_items{
}

.dialogs_messages{
	border: 2px solid grey;
	border-radius: 30px;
	width: 650px;	
	height: 100%;	
	padding-left: 20px;
}

.dialogs_items_link{
	display: block;	
	text-align: center;	
	width: 150px;	
	font-size: 24px;	
	margin-left: 30px;	
	margin-bottom: 20px;	
	text-decoration: none;
	text-transform: uppercase;
	color: #1f241f;
	border: 1px solid #1f241f;
	border-radius: 30px;
}

.dialogs_items_link:hover{
	background-color: green;
	color: #fff;
}

.dialogs_items_link_active{
	display: block;	
	text-align: center;	
	width: 150px;	
	font-size: 24px;	
	margin-left: 30px;	
	margin-bottom: 20px;	
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #1f241f;
	border-radius: 30px;
	background-color: #1f241f;
}


.dialogs_messages input{
	width: 90%;
	padding-left: 30px;
	margin-top: 300px;
	height: 40px;
	border-radius: 20px;
	font-size: 20px;

}

.dialogs_messages_button{
	margin-left: 500px;
	margin-top: 20px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 22	px;
	width: 100px;
	height: 30px;
	border: 1px solid green;
	border-radius: 30px;
	cursor: pointer;
}

.dialogs_messages_button:hover{
	color: #fff;
	background-color: green;
}
