.wrapper{
    transform: translate(-400px, 100px);
}

.wrapper label{
    display: block;
    font-style: oblique;
    margin-bottom: 10px;
    margin-top: 10px;
}
.wrapper input{
    display: block;
}
.wrapper button{
    cursor: pointer;
    margin: 20px 0 0 30px;
    padding: 5px 40px;
}

